/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 16, 2019, 10:10:54 PM
    Author     : Mahbub Alam Khan
*/

.pull-left{
    float: right !important;
}

.pull-right{
    float: left  !important;
}

/*-- Top Bar Contents --*/

.fbone-header-top .repair-icon-box{
    padding-left: 0;
    padding-right: 52px;
}

.fbone-header-top .repair-icon-box .icon-container{
    left: initial;
    right: -12px;
}

/*-- Navigation --*/

.dropdown-toggle::after {
    margin-left: 0;
    margin-right: .7em;
}

.mainmenu .collapse ul ul {
    left: initial;
    right: 0;
}

.mainmenu .collapse ul ul ul{
    left: initial;
    right: 100%;
}

.navbar-default .navbar-nav > li > a::after {
    right: initial;
    left: -1px;
}

.navbar-default .navbar-nav li ul.drop-down{
    left: initial;
    right: 0;
    text-align: right;
}


/*--  About Us --*/

.section-about-us .about-details ul li{
    padding-left: 0px;
    padding-right: 24px;
}

.section-about-us .about-details ul li::before{
    left: initial;
    right: -10px;
}

.about-us-info-block{
    padding: 52px 52px 52px 0px;
}

.feat-img-side-bg,
ul.custom-bullet-list.custom-icon li::before,
.about-us-slogan::after {
    left: initial;
    right: 0;
}

ul.custom-bullet-list li{
    padding-left: 0;
    padding-right: 42px;
}

/*--  Highlight --*/

.highlight-layout-2{
    padding-left: 0;
    padding-right: 48px;
}

.highlight-layout-2 .highlight-icon{
    left: initial;
    right: -24px;
}

.highlight-layout-2 .highlight-text h5:after, .highlight-layout-2 .highlight-text h5 a:after{
    left: initial;
    right: 0px;
}

/*-- Appointment Form --*/

.appointment-form .select-style select.form-control{
    background-position: left center;
}

.appt-error{
    left: initial;
    right: 0;
    margin-left: 0;
    margin-right: 16px;
}

/*-- CTA --*/

.cta-layout-02 p{
    padding-left: 24px;
    padding-right: 0;
}

/*-- Footer --*/

.footer-widget-area{
    text-align: right;
}

.footer-widget-area .fa-contact + p {
    padding-left: 0;
    padding-right: 50px;
}

footer .social-icons a{
    float: right;
    margin: 0;
    margin-left: 5px;
}


#backTop {
    color: transparent;
}
          
/*--  MEDIA QUERIES --*/

@media only screen and (max-width: 767px) {

    
    .mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{
        text-align: left;
    }

    .navbar-default .navbar-nav{
        text-align: right;
    }

}